/*
declaration block:

selector{
    property: value;
    property2: value;
}
*/

body{
    background-color: darkviolet;
    color: azure;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

h1{
    text-align: center;
}


/* Buttons and feedback styling */
button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 10px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:disabled{
    background-color: gray;
    cursor: not-allowed;
}

/* Form style */
form {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 250px;
}

/* Messaage feedback box */
messageBox {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}